@import "app/styles/abstracts/decimal";
@import "app/styles/abstracts/functions";
@import "app/styles/abstracts/mixins";
@import "vendor/icons/variables";
@import "app/styles/vendor/normalize";

// Base
// Includes boilerplate for the project. Inlcude things like typography, Normalize, etc.
@import "app/styles/fonts/prompt";
@import "app/styles/fonts/icons";
@import "app/styles/fonts/zerowidthspace";
@import "app/styles/fonts/dots";
@import "app/styles/base/base";
@import "app/styles/base/color";
@import "app/styles/base/typography";
@import "app/styles/base/helpers";
@import "app/styles/base/icons";

// Layout
// Layout specific files. Headers, footers, grids...
@import "app/styles/layout/layout";
@import "app/styles/layout/loading";
@import "app/styles/layout/header";
@import "app/styles/layout/footer";
@import "app/styles/layout/grid";

// Components
// Component-specific files.
@import "app/styles/components/slider";
@import "app/styles/components/badges";
@import "app/styles/components/badge-state";
@import "app/styles/components/tables";
@import "app/styles/components/growl";
@import "app/styles/components/login";
@import "app/styles/components/pod";
@import "app/styles/components/metrics";
@import "app/styles/components/github-avatar";
@import "app/styles/components/spark-line";
@import "app/styles/components/tooltip";
@import "app/styles/components/container-shell";
@import "app/styles/components/modals";
@import "app/styles/components/modal";
@import "app/styles/components/catalog-box";
@import "app/styles/components/code";
@import "app/styles/components/alerts";
@import "app/styles/components/button";
@import "app/styles/components/banners";
@import "app/styles/components/tabs";
@import "app/styles/components/forms";
@import "app/styles/components/dropdown";
@import "app/styles/components/pagination";
@import "app/styles/components/theme-toggle";
@import "app/styles/components/new-select";
@import "app/styles/components/progress";
@import "app/styles/components/percent-gauge";
@import "app/styles/components/namespace-app";
@import "app/styles/components/page-header";
@import "app/styles/components/over-hr";
@import "app/styles/components/accordion";
@import "app/styles/components/jsondiffpatch";
@import "app/styles/components/searchable-select";
@import "app/styles/components/nav-boxes";
@import "app/styles/components/pipeline";
@import "app/styles/components/logging";
@import "app/styles/components/identity-block";
@import "app/styles/components/istio-graph";
@import "app/styles/components/cluster-template-revision-upgrade-notification";

// Vendor
// Pretty much what it says. Vendor specific changes/overrides or includes.
@import "app/styles/vendor/copy-to-clipboard";
@import "app/styles/vendor/prism-theme";
//@import "ember-bootstrap/bootstrap";

@import "app/styles/ember-basic-dropdown"; //wut???? just importing ember-basic-dropdown doesnt work

// Pages
// Pages that have their own styles.
@import "app/styles/pages/fail-whale";
@import "app/styles/pages/host";
@import "app/styles/pages/registry";
@import "app/styles/pages/container";
@import "app/styles/pages/about";
@import "app/styles/pages/welcome";
@import "app/styles/pages/settings";
@import "app/styles/pages/catalog";
@import "app/styles/pages/virtualmachine";
@import "app/styles/pages/k8s";

// Sizes
@import "app/styles/layout/large";
@import "app/styles/layout/medium";
@import "app/styles/layout/small";

@import "app/styles/vendor/formio";


.a-special:hover {
  color: #05ACFF;
  border: "1px solid #50B5FF";
  border-radius: "6px" 
}

.special-width .ember-view {
  width: 100%;
}

.container-fluid {
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.col-2 {
  
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
   position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
    -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
    position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.list-group {
  width: 100%;
}

.pl-3,
.px-3 {
  padding-left: 0.5rem !important;
}


.modal-dialog {
  max-width: 800px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-weight: bold;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 1rem;
}



  .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}


.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}


  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

    .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover {
  color: #000;
  text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: .75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a.close.disabled {
  pointer-events: none;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.input-group-prepend,
.input-group-append {
  display: -ms-flexbox;
  display: flex;
}

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-prepend .btn:focus,
.input-group-append .btn:focus {
  z-index: 3;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  display: none;
  margin-left: -1px;
}

 .form-inline .input-group,
  .form-inline .custom-select {
    width: auto;
  }



.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}


.card-title {
  margin-bottom: 0.75rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}


.card {
  margin-bottom: 1.25rem;
}